body{
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  color:red;
}

#container{
      width: 70px;
      padding: 1em;
      text-align: left;
      border: 1ox solid black;
}

#container h1{
   font-size: 20px;
}
