body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:aqua;
    margin: 0;
    padding: 10;
  }
  
  #container{
        width: 700px;
        padding: 1em;
        text-align: left;
        border: 1px solid black;
        margin: 10px;
        background-color:violet;
  }
  
  #container h1{
     font-size: 30px;
     text-align: justify;
     
  }

  #titulo{
   text-align: center;
   font-size: 50px;
}
p{
color: black;
}

#cabecera{
 background-color: blue;
 color: white;

}

#tagline{
   color: black;
   text-align: right;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
b {
 color: white;
}
  
