body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:red;
    margin: 0;
    padding: 10;
  }
  
  #container{
        width: 700px;
        padding: 1em;
        text-align: left;
        border: 1px solid black;
        margin: 10px;
        background-color: aqua;
  }
  
  #container h1{
     font-size: 30px;
     text-align: justify;
     
  }

  #titulo{
   text-align: center;
   font-size: 50px;
}
p{
color: black;
}

#cabecera{
 background-color: blue;
 color: white;

}
  