body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:red;
    margin: 0;
    padding: 0;
  }
  
  #container{
        width: 70px;
        padding: 1em;
        text-align: left;
        border: 1ox solid black;
  }
  
  #container h1{
     font-size: 20px;
  }
  